<div class="nested-fields">	
	<div class="form-group">
		<%= f.label :degree, class: "col-sm-2"  %>
		<div class="col-sm-5"><%= f.text_field :degree , class: "form-control" %></div>
	</div>
	<div class="form-group">
		<%= f.label :study_center, class: "col-sm-2"  %>
		<div class="col-sm-5"><%= f.text_field :study_center , class: "form-control" %></div>
	</div>
	<div class="form-group">
		<%= f.label :start_date, class: "col-sm-2" %><i class="fa fa-calendar" aria-hidden="true"></i>
		<div class="col-sm-5"><%= f.text_field :start_date , class: "form-control", 'data-provide'=>'datepicker' %></div>
	</div>
	<div class="form-group">
		<%= f.label :end_date, class: "col-sm-2" %><i class="fa fa-calendar" aria-hidden="true"></i>
		<div class="col-sm-5"><%= f.text_field :end_date , class: "form-control", 'data-provide'=>'datepicker' %></div>
	</div>
	<%= link_to_remove_association "remove education", f %>
</div>