<div class="nested-fields">	
	<div class="form-group">
		<%= f.label :job, class: "col-sm-2"  %>
		<div class="col-sm-5"><%= f.text_field :job , class: "form-control" %></div>
	</div>
	<div class="form-group">
		<%= f.label :company, class: "col-sm-2"  %>
		<div class="col-sm-5"><%= f.text_field :company , class: "form-control" %></div>
	</div>
	<div class="form-group">
		<%= f.label :start_date, class: "col-sm-2"  %><i class="fa fa-calendar" aria-hidden="true"></i>
		<div class="col-sm-5"><%= f.text_field :start_date , class: "form-control", 'data-provide'=>'datepicker' %></div>
	</div>
	<div class="form-group">
		<%= f.label :end_date, class: "col-sm-2"  %><i class="fa fa-calendar" aria-hidden="true"></i>
		<div class="col-sm-5"><%= f.text_field :end_date , class: "form-control", 'data-provide'=>'datepicker' %></div>
	</div>
	<div class="form-group">
		<%= f.label :description, class: "col-sm-2"  %>
		<div class="col-sm-5"><%= f.text_area :description , class: "form-control" %></div>
	</div>
 <%= link_to_remove_association "remove experience", f %>
</div>