<div class="title_section">
	<h1 align="center">Curriculum Vitae - <%= @curriculum.user.profile.full_name %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Datos personales</h3>
  </div>
	<div class="panel-body">
		<%= @curriculum.user.profile.avatar? ? image_tag(@curriculum.user.profile.avatar_url, size: "100x100", alt: "my avatar") : image_tag("avatar.png",size: "100x100", alt: "icon avatar") %>
		<b>Nombre:</b> <%= @curriculum.user.profile.full_name %><br/>
		<b>Edad:</b> <%= @curriculum.user.profile.age %><br/>
		<b>Telefono:</b> <%= @curriculum.user.profile.phone %><br/>
		<b>Mail:</b> <%= @curriculum.user.email %><br/>
	</div>  
</div>


<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Perfil profesional</h3>
  </div>
	<div class="panel-body">
		<b>Perfil:</b> <%= @curriculum.professional_profile %><br/>
		<b>Extracto:</b> <%= @curriculum.summary %><br/>
	</div>  
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Experiencia Laboral</h3>
  </div>
	<div class="panel-body">
		<% @curriculum.experiences.each do|experience| %>
			<b>Empleo:</b> <%= experience.job %><br/>
	  	<b>Compañía:</b> <%= experience.company %><br/>
	  	<b>Descripción:</b> <%= experience.description %><br/>
	  	<b>Duración:</b> <%= experience.start_date %> - <%= experience.end_date.present? ? experience.end_date : 'Actualidad' %><br/>
	  	<hr>
    <% end %>
	</div>  
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Formación académica</h3>
  </div>
  <div class="panel-body">
    <% @curriculum.educations.each do|education| %>
    	<b>Título:</b> <%= education.degree %><br/>
	  	<b>Centro:</b> <%= education.study_center %><br/>
	  	<b>Duración:</b> <%= education.start_date %> - <%= education.end_date.present? ? education.end_date : 'Actualidad' %><br/>
	  	<hr>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Formación complementaria</h3>
  </div>
  <div class="panel-body">
  	<% @curriculum.courses.each do|course| %>
			<b>Título:</b> <%= course.name %><br/>
  		<b>Centro:</b> <%= course.study_center %><br/>
  		<b>Horas:</b> <%= course.hours %> <br/>
  		<b>Duración:</b> <%= course.start_date %> - <%= course.end_date.present? ? course.end_date : 'Actualidad' %><br/>
		  <hr>
    <% end %>  
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Idiomas</h3>
  </div>
  <div class="panel-body">
		<b>Lengua materna:</b> <%= @curriculum.mother_tongue %><br/>
		<% if @curriculum.language_1.present? %><b>Idioma 1:</b> <%= @curriculum.language_1 %><br/><% end %>
		<% if @curriculum.language_2.present? %><b>Idioma 2:</b> <%= @curriculum.language_2 %><br/><% end %>
  </div>
</div>


